
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Команда GeekHub</title>
    <meta name="description" content="Знай своїх героїв - знайомтеся ближче з тими, хто робить GeekHub реальністю.">
    <meta name="keywords" content="команда GeekHub, team, команда">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27082120-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter17027506 = new Ya.Metrika({id:17027506, enableAll: true, webvisor:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/17027506" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class="inner">
<div id="wrap">
    <div id="header">
        <h1><a href="/joomla3/index.php">GeekHub</a></h1>
        <ul class="nav">
            <li><a href="/joomla3/index.php">Головна</a></li>
            <li><a href="about.html">Про GeekHub</a></li>
            <li class="active"><a href="team.html">Команда</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contacts.html">Зв’язок</a></li>
        </ul>
        <ul class="links">
            <li class="fb"><a href="http://www.facebook.com/pages/GeekHub/158983477520070">facebook</a></li>
            <li class="vk"><a href="http://vkontakte.ru/geekhub">Вконтакте</a></li>
            <li class="tw"><a href="http://twitter.com/#!/geek_hub">twitter</a></li>
            <li class="yb"><a href="http://www.youtube.com/user/GeekHubchannel">youtube</a></li>
        </ul>
    </div><!-- header -->
    <div id="content">
        <div class="team">
            <h2>Команда GeekHub</h2>
            <ul>
                <li class="odd">
                    <h3>Євген “Jack” Григор’єв <span>Старший девелопер PHP <br />в Мaster of Code</span></h3>
                    <img src="images/jack.png" />
                    <p>Працює з рядом технологій, включаючи Symfony, Drupal, jQuery, Compass CSS, HAML, etc.
                        Майстерність Євгена стоїть за такими проектами як <a href="http://www.belvilla.nl/">Belvilla</a>, <a href="http://yesorno.ch/">Yes or No</a>, <a href="http://www.webshop.jongenvrij.nl/">Jongenvrij webshop</a>, <a href="http://usgovernmentauctions.net/">USGA</a> та багато інших. У Geekhub Євген викладає Advanced CMS.</p>
                </li>
                <li>
                    <h3>Тимофій “Common” Козак <span>Технічний директор <br />у Presentain. </span></h3>
                    <img src="images/cmn.png" />
                    <p>Тимофій розвиває індустрію мобільних додатків. На його рахунку такі проекти як KandleFly, SecondChance, Yak Messenger, <a href="http://presentain.com/">Presentain</a>, <a href="http://www.maximsoftware.com/">MaximSoftware</a>, <a href="http://mclean-design.com/">MClean-design</a> та багато інших. В Geekhub Тимофій викладає iOS.</p>
                </li>
                <li class="odd">
                    <h3>Олег Пасько <span>Старший девелопер <br />в Everlabs.com. </span></h3>
                    <img src="images/pasko.png" />
                    <p>Олег полюбляє розв'язувати бізнес-задачі в IT за допомогою RoR. На рахунку Олега такі проекти як <a href='http://shopius.ru'>shopius.ru</a>, <a href='http://totravelme.ru'>totravelme.ru</a>, <a href='http://clickaway.ru'>clickaway.ru</a> та ряд інших цікавих проектів для різних компаній. У GeekHub Олег викладає Ruby on Rails.</p>
                </li>
                <li>
                    <h3>Сергій Босовський <span>Старший Android developer <br />в Master of Code. </span></h3>
                    <img src="images/boss.png" />
                    <p>Сергій займається питаннями інтерфейсів і обробки контенту, кастомними компонентами UI та інтеграцією андроїд аппів із зовнішніми сервісами. Сергій працював над такими проектами як <a href="https://market.android.com/details?id=com.sandsmedia.apps.mobile.android.jtj">Java Tech Journal</a>, <a href="https://market.android.com/details?id=com.sirma.mobile.bible.android">LifeChurch Android app</a> та <a href="https://market.android.com/details?id=com.masterofcode.android.yakchat">Yak messenger</a>. У GeekHub Сергій викладає Java for Android.</p>
                </li>
                <li class="odd">
                    <h3>Іван Хижняк <span>Старший девелопер PHP. </span></h3>
                    <img src="images/user.png" />
                    <p>У GeekHub викладає Advanced PHP.</p>
                </li>
                <li>
                    <h3>Нік Курат <span>Управляючий партнер<br />в Master of Code</span></h3>
                    <img src="images/nkurat.png" />
                    <p>Нік займається розвитком бізнесу компанії Master of Code LLC та розвитком стартапу presentain.com . У складі Geekhub Нік викладає Project Management та працює над брендінгом та маркетингом проекту.</p>
                </li>
                <li class="odd">
                    <h3>Валентин Ярмолатій <span>Логістичний менеджер <br />в Master of Code</span></h3>
                    <img src="images/val.png" />
                    <p>Валентин займається питаннями технічного забезпечення Geekhub.</p>
                </li>
                <li>
                    <h3>Олег Зінченко <span>TeamLead <br />в  <a href="http://exercise.com">Exercise.com</a>, Inc. </span></h3>
                    <img src="images/oleg_zinchenko.png" />
                    <p>Олег професiйно займаеться розробкою веб додаткiв на PHP з використанням сучасних фреймфоркiв. Адепт Symfony2. У GeekHub Олег викладає Advanced PHP.</p>
                </li>
                <li class="odd">
                    <h3>Tim Phipps <span>English Language Tutor</span></h3>
                    <img src="images/tim_phipps.png" />
                    <p>Since gaining his CELTA teaching qualification, Tim has specialised in private English lessons, meeting a wide range of student needs. At Geekhub Tim leads the Technical English course.</p>
                </li>
                <li>
                    <h3>Юрій Курат <span>CEO в N3w Normal</span></h3>
                    <img src="images/jurii_kurat.png" />
                    <p>Юрій працює із командою розробників веб та кросс-платформових мобільних технологій. Його нещодавні проекти включають у себе <a href="http://stickyalbums.com">stickyalbums.com</a>, <a href="http://chewy.com">chewy.com</a>. У GeekHub Юрій займається організацією та розвитком проекту.</p>
                </li>
                <li class="odd">
                    <h3>Сергій Ключник <span>Backend та frontend девелопер <br />в Master of Code. </span></h3>
                    <img src="images/kluchnik.png" />
                    <p>Сергій - активний учасник open source community, контріб'ютор <a href="https://github.com/jquery/qunit/blob/master/AUTHORS.txt">jQuery Foundation</a>, створив багато <a href="https://github.com/redexp?tab=repositories">проектів з відкритим кодом</a> на github. У повсякденній роботі Сергій займається як frontend, так і backend розробкою. У GeekHub Сергій викладає Javascript.</p>
                </li>
                <li>
                    <h3>Олена Перекопська <span>Менеджер проектів <br />в Master of Code. </span></h3>
                    <img src="images/olena_perekopska.png" />
                    <p>Олена має значний досвід у сфері контролю якості та управління проектами. У GeekHub викладає Quality Assurance.</p>
                </li>
                <li class="odd">
                    <h3>Володимир Білоус <span>Java EE/ Android developer <br />в SPD Ukraine.</span></h3>
                    <img src="images/volodymyr_bilous.png" />
                    <p>Володимир є Java та Android розробником у SPD Ukraine. Його основний проект -- <a href="http://nimblecommerce.com">nimblecommerce.com</a> У GeekHub Володимир викладає Java for Web.</p>
                </li>
                <li>
                    <h3>Валерій Олексієнко <span>Веб-розробник <br />в SPD-Ukraine.</span></h3>
                    <img src="images/valerii_oleksienko.png" />
                    <p>Backend та frontend веб-розробник. Основні технології, з якими працює: Spring (MVC, Security), Hibernate, mySql, MongoDB, jQuery, Ext.js Хоббі включають сноуборд, музика, mobile development. У GeekHub Валерій викладає Java for Web.</p>
                </li>
                <li class="odd">
                    <h3>Богдан Халяпін <span>Директор <br />в SPD-Ukraine. </span></h3>
                    <img src="images/bogdan_haliapin.png" />
                    <p>Богдан керує компанією SPD-Ukraine та займається її розвитком. Має більше ніж 10 років досвіду з Java. У складі GeekHub Богдан є викладачем та координатором групи Java for Web.</p>
                </li>
                <li>
                    <h3>Олександра Корнійчук <span>Teamlead <br />у QAMadness. </span></h3>
                    <img src="images/korneichuk.png" />
                    <p>Олександра займається розвитком бізнесу, а також керує командою тестувальників у компанії QAMadness.</p>
                </li>
                <li class="odd">
                    <h3>Альона Лісіцина <span>Head Project Manager <br />в Master of Code. </span></h3>
                    <img src="images/alona_lisicina.png" />
                    <p>Альона має науковий ступінь PhD та працює головним проектним менеджером у компанії Master of Code LLC. У Geekhub Альона викладає Project Management. </p>
                </li>


                <li>
                    <h3>Богдан Данилюк <span>Розробник <br />у TransferWise. </span></h3>
                    <img src="images/daniluk.png" />
                    <p>Богдан розробник у компанії TransferWise. Прихильник швидких, динамічних та надійних рішень у розробці програмного забезпечення. Викладатиме курс улюбленої мови програмування та фреймворку - Groovy & Grails.</p>
                </li>


                <li class="odd">
                    <h3>Павло Надолинський <span>iOS девелопер <br />в Master of Code. </span></h3>
                    <img src="images/nadolinskiy.png" />
                    <p>За досить невеликий час роботи, Павло встиг прийняти участь у багатьох проектах та здобути неабиякий досвід у розробці iOS додатків. У GeekHub викладає iOS.</p>
                </li>



                <li>
                    <h3>Дмитро Таряник <span>Android developer <br />в Master of Code. </span></h3>
                    <img src="images/dmytro_tarianyk.png" />
                    <p>
                        На рахунку Дмитра такі проекти як <a href="https://play.google.com/store/apps/details?id=com.heineken.magazineapp">Heineken Nederland Magazine</a>, <a href="https://play.google.com/store/apps/details?id=com.sirma.mobile.bible.android">LifeChurch Android app</a>. У GeekHub викладає Java for Android.
                    </p>
                </li>


                <li class="odd">
                    <h3>Сергій Гичка <span>Backend developer <br />в Master of Code. </span></h3>
                    <img src="images/sergii_gychka.png" />
                    <p>Сергій працює з такими технологіями як Symfony, Drupal, JS, Zend Framework, CodeIgniter. Його проекти включають InnoLaunch Platform, <a href="http://www.thevx.com/">The VX</a>, <a href="http://fundforgenderequality.unwomen.org/">Fund for Gender Equality</a>, <a href="http://untf.unwomen.org/">UN Trust Fund to End Violence Against Women</a>. У GeekHub Сергій викладає Advanced CMS.</p>
                </li>
                <li>
                    <h3>Юра Батора <span>Team Leader <br />в SPD-Ukraine. </span></h3>
                    <img src="images/jura_batora.png" />
                    <p>Юра займається розробкою комерційних проектів на Java зі складною клієнт-серверною архітектурою. У GeekHub викладає Java for Web.</p>
                </li>
                <li class="odd">
                    <h3>Сергій Поліщук <span>Backend developer <br />в <a href="http://exercise.com">Exercise.com</a>, Inc.</span></h3>
                    <img src="images/polischuk.png" />
                    <p>Студент GeekHub у минулому, а зараз - backend девелопер в успішній продуктовій компанії США. Сергій полюбляє важкі задачі та прості рішення. У GeekHub Сергій викладає Advanced PHP. </p>
                </li>
                <li>
                    <h3>Владислав Ящук <span>Старший CMS девелопер<br />в Master of Code.</a></span></h3>
                    <img src="images/yaschuk.png" />
                    <p>Влад має значний досвід у розробці веб-сайтів на базі CMS. У GeekHub викладає Advanced CMS.</p>
                </li>
                <li class="odd">
                    <h3>Андрій Береза <span>Java 7 Programmer <br />в SPD-Ukraine. </span></h3>
                    <img src="images/bereza.png" />
                    <p>Андрій  - сертифікований Java 7 Programmer з великим досвідом реалізації back-end та front-end, у тому числі на проектах створення фінансових систем. У GeekHub викладає Java for Web.</p>
                </li>
            </ul>


        </div>
    </div><!-- content -->
    <ul id="footer">
        <li>
            <ul class="nav">
                <li><a href="/joomla3/index.php">Головна</a></li>
                <li><a href="about.html">Про GeekHub</a></li>
                <li><a href="team.html">Команда</a></li>
                <li><a href="contacts.html">Зв’язок</a></li>
            </ul>
        </li>
        <li>© Copyright 2011</li>
    </ul>
</div>
</body>
</html>